table {
    width: 70%;
    margin: 30px auto;
    min-width: 800px;

    thead{
        font-weight: bold;
    }
}


td:nth-child(-n+2) {
    text-align: left;
}

td:nth-child(1n+3){
    text-align: right;
}

.btnLogout{
    margin: 20px 0px;
    outline: 0;
    width: 100px;
    border: 0;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
}